body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: hotpink;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  background-color: mediumseagreen;
}

form div {
  margin: 1em;
  display: inline-block;
}
